<!DOCTYPE html>
<html lang="en">
<head>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
  
{% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
</head>
<body>
<div class="wrapper">
{% include header.html %}
{{ content }}
</div>
{% include externals/scripting.html %}
</body>
</html>
